/* Reset bounding box for Flex */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); }
html{
  height: 100%;
  background: #161e26;

}
body{
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

h1{
  letter-spacing: .0250em;
  text-align: center;
  font-size: 6em;
  font-style: italic;
  background: url(/img/splooge.png) no-repeat;
  color: #E500DF;
  padding: 120px 320px 140px 320px;
  background-position: 185px 0;
  line-height: 90px;
}


