/* Reset bounding box for Flex */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); }
html{
  height: 100%;
  background: #f3e7d7;

}
body{
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

#lead h1{
  color: #FF5F74;
  font-size: 7em;
  line-height: 100px;
  margin-top: 200px;
}
#lead h2 {
  font-weight: 100;
  position: absolute;
  top: 331px;
  left: 700px;
  width: 340px;
  line-height: 1;
  color: #000;
  display: none;
}
#section p {
  font-size: 2em;
  width: 800px;
  line-height: 1.2em;
}

#explanation > p {
  font-size: 1.5em;
  line-height: 1.2em;
  width: 808px;
}
#explanation{
  display: none;
}
#lead h1 span {
color: #000;
font-size: 48px;
margin-top: 0;
display: inline-block;
position: relative;
top: -55px;
}#explanation h2 {
  font-size: 2em;
}
.column {
    border-top: 1px solid #FF5F74;
    padding: 1em;
    background-color: #FF5F74;
    background-color: rgba(255,95,116,0.1);
}

.column h3 {
font-size: 2em;
margin-left: 150px;
margin-bottom: 0;
margin-top: 0;
}
.column p {
font-size: 1.5em;
margin: 0 0 0 150px;
line-height: 24px;
width: 640px;
}
nav{
display:none;}
nav ul li a:hover {
  color: black;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
.column img {
  width: 80px;
  float: left;
  margin-left: 30px;
}
nav ul li {
  display: inline;
  margin-right: 20px;
  background-color: #FF5F74;
  padding: 10px;
  border-radius: 4px;
  font-size: 2em;
  font-family:cubano-sharp;
}

nav ul {
  padding: 0;
}
